<?xml version="1.0"?>
<launch>
    <!-- <arg name="map_fileName" default="fibo_f5_nav" doc="file name [fibo_f2_nav, fibo_f5_nav]"/>
    <arg name="map_nav_file" default="$(find a2dr_navigation)/maps/$(arg map_fileName).yaml"/>

    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_nav_file)">
        <param name="frame_id" value="map"/>
    </node> -->

    <node pkg="tf" type="static_transform_publisher" name="map_to_drugMachine"
    args="15.76, 9.25, 0.0, 0.0, 0.0, -0.78, 0.63  /map /drug_machine 40"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_Lab1"
    args="18.18, 8.14, 0.0, 0.0, 0.0, -0.78, 0.63  /map /Lab_1 40"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_Lab2"
    args="12.8, 9.29, 0.0, 0.0, 0.0, -0.78, 0.63  /map /Lab_2 40"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_Lab3"
    args="7.65, 10.48, 0.0, 0.0, 0.0, -0.78, 0.63  /map /Lab_3 40"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_commonRoom"
    args="9.2, 10.93, 0.0, 0.0, 0.0, 0.63, 0.78  /map /common_room 40"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_controlLab"
    args="14.45, 9.72, 0.0, 0.0, 0.0, 0.63, 0.78  /map /control_lab 40"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_baseStation"
    args="24.09, 7.16, 0.0, 0.0, 0.0, -0.1, 0.99  /map /base_station 40"/>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find a2dr_bringup)/rviz/view_goalFrame.rviz">
    </node> -->
    
</launch>