<launch>
    <!-- Arguments -->
    <arg name="bag_name" default="a2dr_cartographer" doc="bag name [a2dr_gmapping, a2dr_cartographer]"/>
    <arg name="bag_rate" default="5" />

    <arg name="slam_methods" default="cartographer" doc="slam type [gmapping, cartographer]"/>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find a2dr_slam)/rviz_config/a2dr_$(arg slam_methods).rviz"/>

    <!-- SLAM: Gmapping, Cartographer, Hector -->
    <include file="$(find a2dr_slam)/launch/slam_$(arg slam_methods).launch"/>

    <include file="$(find a2dr_bags)/launch/run_bagfile.launch">
        <arg name="file" value="$(find a2dr_bags)/bags/$(arg bag_name).bag"/>
        <arg name="rosbag_rate" value="$(arg bag_rate)"/>
        <arg name="topic_filter" default="--topic /scan"/>
    </include>
</launch>